# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# env
.env
.env.*.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.cursor

# OS
.DS_Store

# database
packages/db/*.db
packages/db/*.db-shm
packages/db/*.db-wal

# drizzle
drizzle/

# claude
.claude/settings.local.json
