# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# env
.env
.env.*.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.cursor

# OS
.DS_Store

# database
/data
packages/db/data/

# turbo
.turbo/

# claude
.claude/settings.local.json
